<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <filter>
        <filter-name>ENCODE</filter-name>
        <filter-class>com.jfinal.ext.zyq.JFinalEncode</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ENCODE</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- ======================CAS 设置 Begin======================= -->
    <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.lby.kq.common.MyAuthenticationFilter</filter-class>
        <!-- CAS login 服务地址 -->
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>http://147.1.6.16:8080/cas/login</param-value>
        </init-param>
        <!-- 客户端应用服务地址 -->
        <init-param>
            <param-name>serverName</param-name>
            <param-value>147.1.7.99:8195</param-value>
        </init-param>
        <init-param>
            <param-name>renew</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>gateway</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>http://147.1.6.16:8080/cas/</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>147.1.7.99:8195</param-value>
        </init-param>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CAS Assertion Thread Local Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Assertion Thread Local Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 退出URL -->
    <context-param>
        <param-name>casLogoutUrl</param-name>
        <param-value>http://147.1.6.16:8080/cas/logout?service=http://147.1.7.99:8195</param-value>
    </context-param>
    <!-- ======================CAS 设置 End======================= -->
    <filter>
        <filter-name>jFinal</filter-name>
        <filter-class>com.jfinal.core.JFinalFilter</filter-class>
        <init-param>
            <param-name>configClass</param-name>
            <param-value>org.lby.kq.common.Config</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jFinal</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>